<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
    {% endblock %}
    </title>

    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="/static/backweb/css/style.css" />
    {% block Css %}
    {% endblock %}

    {% block Jsq %}
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}


    {% block left_content %}
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>
</html>