{% extends 'backweb/base_main.html' %}

{% block title %}
    后台管理系统
{% endblock %}

{% load static %}
{% block Jsq %}
<script src="{% static 'backweb/js/html5.js' %}"></script>
<script src="{% static 'backweb/js/jquery.js' %}"></script>
<script src="{% static 'backweb/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'backweb/js/select/select.js' %}"></script>



<script>
	(function($){
		$(window).load(function(){

			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});

			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});

		});
	})(jQuery);
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

{% endblock %}


{% block content %}
<style>
.dataStatistic{width:400px;height:200px;border:1px solid #ccc;margin:0 auto;margin:10px;overflow:hidden}
#cylindrical{width:400px;height:200px;margin-top:-15px}
#line{width:400px;height:200px;margin-top:-15px}
#pie{width:400px;height:200px;margin-top:-15px}
</style>

<div>
    <p style="font-size:80px;text-align:center;margin-top:80px;">欢迎来到后台系统</p>
</div>

{% endblock %}

