{% extends 'backweb/base_main.html' %}
{% load static %}


{% block title %}
    商品添加页面
{% endblock %}


{% block Jsq %}
<script src="{% static 'backweb/js/html5.js' %}"></script>

<script src="{% static 'backweb/js/jquery.js' %}"></script>
<script src="{% static 'backweb/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script>

	(function($){
		$(window).load(function(){

			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});

			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});

		});
	})(jQuery);
</script>



{% endblock %}



{% block content %}
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">商品添加</h2>
      </div>
     <form method="post" action="" enctype="multipart/form-data">
     {%csrf_token%}
         <input type="hidden" name="id" value="{{ good.id }}">
     <section>
      <ul class="ulColumn2">
       <!--<li>-->
        <!--<span class="item_name" style="width:120px;"></span>-->
        <!--<input name="title" type="text" class="textbox textbox_295" placeholder=""/>-->

       <!--</li>-->
       <li>
        <span class="item_name" style="width:120px;">商品ID</span>
        <input name="product_id" type="text" class="textbox" value="{{ good.productid }}" placeholder="商品ID"/>
       </li>

       <li>
       <span class="item_name" style="width:120px;">商品名称</span>
       <input name="product_name" type="text" class="textbox" value="{{ good.productname }}" placeholder="商品名称"/>
       </li>
       <li>
       <span class="item_name" style="width:120px;">价格</span>
       <input name="price" type="text" class="textbox" value="{{ good.price }}" placeholder="价格"/>
       </li>
        <li>
       <span class="item_name" style="width:120px;">单位</span>
       <input name="one_weight" type="text" class="textbox" value="{{ good.one_weight }}" placeholder="单位"/>
       </li>
        <li>
        <span class="item_name" style="width:120px;">商品图片</span>
        <label class="uploadImg">
         <input name="img" type="file"/>
         <span>上传图片</span>
        </label>
       </li>

       <li style="position:relative;left:52px;">
       <span>是否是新品</span>

       {% if good.is_new %}
       <input type="radio" name="type" value="no">否
       <input type="radio" checked="checked" name="type" value="yes">是
       {% else %}
       <input type="radio" checked="checked" name="type" value="no">否
       <input type="radio" name="type" value="yes">是
       {% endif %}
       </li>
       <li style="position:relative;left:65px;">
        <span>商品类型</span>
        <select name="goods_type">
           {% for type in types %}
           {% if type.typename == good.goods_type.typename %}
           <option selected="selected" value="{{ type.typename }}">{{ type.typename }}</option>
           {% else %}
           <option value="{{ type.typename }}">{{ type.typename }}</option>
           {% endif %}
           {% endfor %}
        </select>
        </li>
        <li style="position:relative;left:65px;">
            <label style="vertical-align: top;">商品简介</label>
            <textarea name="introduction"  rows="4" cols="60">{{ good.pmdesc }}</textarea>
        </li>

        <li style="position:relative;left:37px;">
            <span style="vertical-align: top;">商品详细信息</span>
            <textarea name="detail" rows="4" cols="60">{{ good.detail }}</textarea>
        </li>

       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn"/>
       </li>
      </ul>
     </section>

     </form>
 </div>
</section>
{% load static %}
<script src="{% static 'backweb/js/ueditor.config.js' %}"></script>
<script src="{% static 'backweb/js/ueditor.all.min.js' %}"> </script>
{% endblock %}