{% extends 'web/base.html' %}

{% block title %}
天天生鲜-商品列表
{% endblock %}

{% block counter %}
{% load static %}
<div class="search_bar clearfix">
    <a href="{% url 'home:index' %}" class="logo fl"><img src="/static/web/images/logo.png"></a>
    <div class="search_con fl">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
    <div class="guest_cart fr">
        <a href="{% url 'home:my_cart' %}" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl">{{ c_count }}</div>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar clearfix">
        <div class="subnav_con fl">
            <h1>全部商品分类</h1>
            <span></span>
            <ul class="subnav">
                <li><a href="{% url 'home:list' %}?type={{ types.0.typename }}" class="fruit">新鲜水果</a></li>
                <li><a href="{% url 'home:list' %}?type={{ types.1.typename }}" class="seafood">海鲜水产</a></li>
                <li><a href="{% url 'home:list' %}?type={{ types.2.typename }}" class="meet">猪牛羊肉</a></li>
                <li><a href="{% url 'home:list' %}?type={{ types.3.typename }}" class="egg">禽类蛋品</a></li>
                <li><a href="{% url 'home:list' %}?type={{ types.4.typename }}" class="vegetables">新鲜蔬菜</a></li>
                <li><a href="{% url 'home:list' %}?type={{ types.5.typename }}" class="ice">速冻食品</a></li>
            </ul>
        </div>
        <ul class="navlist fl">
            <li><a href="">首页</a></li>
            <li class="interval">|</li>
            <li><a href="">手机生鲜</a></li>
            <li class="interval">|</li>
            <li><a href="">抽奖</a></li>
        </ul>
    </div>
</div>

<div class="breadcrumb">
    <a href="#">全部分类</a>
    <span>></span>

    <a href="#">{{ type.typename }}</a>
</div>

<div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
                {% for good in new_foods %}
                {% if forloop.counter > 0 and forloop.counter < 3 %}
                <li>
                    <a href="{% url 'home:detail' %}?type={{ typename }}&product_id={{ good.id }}"><img src="/static/web/images/goods/{{ good.productimg }}"></a>
                    <h4><a href="{% url 'home:detail' %}?type={{ typename }}&product_id={{ good.id }}">{{ good.productname }}</a></h4>
                    <div class="prize">￥{{ good.price }}</div>
                </li>
                {% endif %}
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="r_wrap fr clearfix">
        <div class="sort_bar">
            <a href="#" class="active">默认</a>
            <a href="#">价格</a>
            <a href="#">人气</a>
        </div>

        <ul class="goods_type_list clearfix">
            {% for good in page %}
            <li>
                <a href="{% url 'home:detail' %}?type={{ type.typename }}&product_id={{ good.id }}"><img src="/static/web/images/goods/{{ good.productimg }}"></a>
                <h4><a href="{% url 'home:detail' %}?type={{ type.typename }}&product_id={{ good.id }}">{{ good.productname }}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{ good.price }}</span>
                    <span class="unit">{{ good.price }}/{{ good.one_weight }}</span>
                    <a href="#" class="add_goods" title="加入购物车"></a>
                </div>
            </li>
            {% endfor %}

        </ul>

        <div class="pagenation">

            {% if page.has_previous == True %}
            <a href="{% url 'home:list' %}?type={{ type.typename }}&page={{ page.previous_page_number }}"><上一页</a>
            {% endif %}
            {% for i in page.paginator.page_range %}
            <a href="{% url 'home:list' %}?type={{ type.typename }}&page={{ i }}" class="active">{{ i }}</a>
            {% endfor %}
            {% if page.has_next == True %}
            <a href="{% url 'home:list' %}?type={{ type.typename }}&page={{ page.next_page_number }}">下一页></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
