{% extends 'web/base.html' %}


{% block title %}
天天生鲜-提交订单
{% endblock %}


{% block counter %}
{% load static %}
{% csrf_token %}
<div class="search_bar clearfix">
    <a href="{% url 'home:index' %}" class="logo fl"><img src="/static/web/images/logo.png"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>


{% if userinfo %}
<h3 class="common_title">确认收货地址</h3>
<div class="common_list_con clearfix">
    <dl>
        <dt>寄送到：</dt>
        <dd><input type="radio" name="" checked="">{{ userinfo.province }} {{ userinfo.city }} {{ userinfo.county }} {{ userinfo.detail_address }}（{{ userinfo.name}} 收） {{ userinfo.phone|slice:':3'}}****{{ userinfo.phone|slice:'-5:-1'}}</dd>
    </dl>
    <a href="{% url 'home:select_address' %}" class="edit_site">选择收货地址</a>
</div>
{% else %}
<h3 class="common_title">确认收货地址</h3>
<div class="common_list_con clearfix">
    <dt style="margin-bottom:60px;position:relative;left:460px;top:30px;">当前没有收货地址,请先添加地址！</dt>
    <a href="{% url 'home:add_address' %}" class="edit_site">添加收货地址</a>
</div>
{% endif %}


<h3 class="common_title">支付方式</h3>
<div class="common_list_con clearfix">
    <div class="pay_style_con clearfix">
        <input type="radio" name="pay_style" checked>
        <label class="cash">货到付款</label>
        <input type="radio" name="pay_style">
        <label class="weixin">微信支付</label>
        <input type="radio" name="pay_style">
        <label class="zhifubao"></label>
        <input type="radio" name="pay_style">
        <label class="bank">银行卡支付</label>
    </div>
</div>

<h3 class="common_title">商品列表</h3>

<div class="common_list_con clearfix">
    <ul class="goods_list_th clearfix">
        <li class="col01">商品名称</li>
        <li class="col02">商品单位</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">小计</li>
    </ul>

    {% for cart in c_list %}
    <ul class="goods_list_td clearfix">
        <li class="col01">{{ cart.1 }}</li>
        <li class="col02"><img src="/static/web/images/goods/{{ cart.0.goods.productimg }}"></li>
        <li class="col03">{{ cart.0.goods.productname }}</li>
        <li class="col04">{{ cart.0.goods.one_weight }}</li>
        <li class="col05">{{ cart.0.goods.price }}元</li>
        <li class="col06">{{ cart.0.c_num }}</li>
        <li class="col07">{{ cart.0.c_prices }}元</li>
    </ul>
    {% endfor %}

</div>

<h3 class="common_title">总金额结算</h3>

<div class="common_list_con clearfix">
    <div class="settle_con">
        <div class="total_goods_count">共<em>{{ c_count }}</em>件商品，总金额<b>{{ moneys }}元</b></div>
        <div class="transit">运费：<b>10元</b></div>
        <div class="total_pay">实付款：<b>{{ moneys | add:10 }}元</b></div>
    </div>
</div>

{% if userinfo %}
<div class="order_submit clearfix">
    <a href="javascript:;"  id="order_btn" >提交订单</a>
    <a href="javascript:;" style="position:relative;right:5px;" id="wait_order" >稍后付款</a>
</div>
{% else %}
<div class="order_submit clearfix">
    <a href="javascript:;"  id="order_b" onclick="order_b();">提交订单</a>
    <a href="javascript:;" style="position:relative;right:5px;" id="wait_ord" onclick="wait_ord();">稍后付款</a>
</div>
{% endif %}

{% endblock %}

{% block popup_con %}
<div class="popup_con">
    <div class="popup">
        <p>订单提交成功！</p>
    </div>

    <div class="mask"></div>
</div>
<script type="text/javascript" src="js/jquery-1.12.2.js"></script>
<script type="text/javascript">
    <!-- 稍后付款 -->
    $('#wait_order').click(function() {
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        $.ajax({
            url:'/home/add_order/',
            type:'POST',
            dataType:'json',
            headers:{'X-CSRFToken':csrf},
            data:{'zt':0},
            success:function(){
                console.log('请求成功')
                localStorage.setItem('order_finish',2);
                $('.popup_con').fadeIn('fast', function() {

                setTimeout(function(){
                $('.popup_con').fadeOut('fast',function(){
                    window.location.href = '/home/index/';
                });
            },3000)

        });
            },
            error:function(){

            },
        })

    });
    <!-- 直接支付 -->
    $('#order_btn').click(function() {
        var csrf = $('input[name="csrfmiddlewaretoken"]').val()
        $.ajax({
            url:'/home/add_order/',
            type:'POST',
            dataType:'json',
            headers:{'X-CSRFToken':csrf},
            data:{'zt':1},
            success:function(){
                console.log('请求成功')
                localStorage.setItem('order_finish',2);
                $('.popup_con').fadeIn('fast', function() {

                setTimeout(function(){
                $('.popup_con').fadeOut('fast',function(){
                    window.location.href = '/home/index/';
                });
            },3000)

        });
            },
            error:function(){

            },
        })

    });

function order_b(){
    alert('您当前没有地址,请先添加地址！')
}

function wait_ord(){
    alert('您当前没有地址,请先添加地址！')
}


</script>
{% endblock %}

