{% extends 'web/base.html' %}

{% block title %}
天天生鲜-用户中心
{% endblock %}

{% block cssjs%}
{% csrf_token %}
<script type="text/javascript">

<!--跳转到添加地址页面-->
function add_address(){
    location.href = '/home/add_address/?is_sel=1'
}

<!--跳转到编辑地址页面-->
function update_address(userinfo_id){
    location.href = '/home/update_address/?userinfo_id='+userinfo_id+'&is_sel=1'
}


<!-- 选择用户 -->
function sel_address(userinfo_id){
        location.href='/home/update_is_sel_address/?userinfo_id='+userinfo_id

}



</script>

{% endblock %}

{% block counter %}
{% load static %}
<div class="search_bar clearfix">
	<a href="{% url 'home:index' %}" class="logo fl"><img src="/static/web/images/logo.png"></a>
	<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
	<div class="search_con fr">
		<input type="text" class="input_text fl" name="" placeholder="搜索商品">
		<input type="button" class="input_btn fr" name="" value="搜索">
	</div>
</div>

<div class="main_con clearfix">
	<div class="left_menu_con clearfix">
		<h3>用户中心</h3>
		<ul>
			<li><a href="{% url 'home:userInfo' %}">· 个人信息</a></li>
			<li><a href="{% url 'home:order_show' %}">· 全部订单</a></li>
			<li><a href="{% url 'home:user_site' %}" class="active">· 收货地址</a></li>
		</ul>
	</div>
	<div class="right_content clearfix">
			<h3 class="common_title2" style="float:right;color:rgb(200,200,100)" onclick="add_address();">添加新地址</h3>
			<h3 class="common_title2" style="display:block">收货地址</h3>

			{% if userinfos or is_default_user %}

            {% if is_default_user %}
             <div class="site_con" id="div_{{ is_default_user.id }}">
				<dl>
                    <dt style="float:right;margin-right:40px;" onclick="sel_address({{ is_default_user.id }});">选择</dt>
                    <dt style="float:right;margin-right:20px;" onclick="update_address({{ is_default_user.id }})">编辑</dt>
					<dt>默认地址：</dt>
					<dd>{{ is_default_user.province }} {{ is_default_user.city }} {{ is_default_user.county }} {{ is_default_user.detail_address }}（{{ is_default_user.name}} 收） {{ is_default_user.phone|slice:':3'}}****{{ is_default_user.phone|slice:'-5:-1'}}</dd>
				</dl>
			</div>
            {% endif %}

            {% for userinfo in userinfos %}
            <div class="site_con" id="div_{{ userinfo.id }}">
				<dl>
                    <dt style="float:right;margin-right:40px;" onclick="sel_address({{ userinfo.id }});">选择</dt>
                    <dt style="float:right;margin-right:20px;" onclick="update_address({{ userinfo.id }})">编辑</dt>
					<dd>{{ userinfo.province }} {{ userinfo.city }} {{ userinfo.county }} {{ userinfo.detail_address }}（{{ userinfo.name}} 收） {{ userinfo.phone|slice:':3'}}****{{ userinfo.phone|slice:'-5:-1'}}</dd>
				</dl>
			</div>
            {% endfor %}

            {% else %}
            <div class="site_con">
				<dl>
					<dt>您当前没有地址</dt>
				</dl>
			</div>
            {% endif %}

	</div>
</div>
{% endblock %}



